.App form {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 50px auto;
}

.App form label {
  display: block;
}

.App form textarea {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.App form input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.App form button {
  margin-right: 20px;
  margin-bottom: 20px;
}
